.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007BFF; 
  padding: 1rem;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.signup-button {
  background-color: #28A745; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.signup-button:hover {
  background-color: #218838; 
}


.footer {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

